name: Docs
on: [push, pull_request, workflow_dispatch]
permissions:
  contents: write
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - name: Install dependencies
        run: git clone https://github.com/ros-infrastructure/rosdoc2 && pip3 install -e rosdoc2
      - name: Rosdoc2 build
        run: rosdoc2 build -p src/sopias4_framework -o _build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/output/sopias4_framework/
          force_orphan: true
